#canvasContainer {
    width: calc(100vw - 20px);
    max-height: calc(100vh - 80px);
    margin: 0 auto;
    text-align: center;
}

#canvas {
    width: 100%;
}

body {
    margin: 0;
    font-family: Verdana, sans-serif;
}
