.navigation {
    position: fixed;
    top: 0;
    margin-top: 0;
    display: flex;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    font-family: Verdana, sans-serif;
}

.title {
    display: flex;
    align-items: center;
    margin: 0 30px;
}

.title-logo {
    height: 40px;
    width: auto;
    margin-right: 5px;
}

.title-text {
    color: white;
    text-align: center;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.nav-box {
    float: left;
    border-right: 1px solid #bbb;
    height: 100%;
}

.nav-first {
    border-left: 1px solid #bbb;
}

.nav-last {
    border-left: 1px solid #bbb;
    float: right;
}

.nav-item {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-active {
  background-color: #0883b9;
}

.nav-box:hover:not(.active) {
    background-color: #777;
}

.spacer {
    margin-top: 60px;
    position: relative;
}