<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/navbar.css">
</head>
<body>
    <div class="navigation">
        <div class="title">
            <img class="title-logo" src="static/icon.png" alt="by Matrix">
            <a class="title-text">PixelFrame</a>
        </div>
        <ul class="navbar">
            <li class="nav-box nav-first">
                <a class="nav-item nav-active" href="/">Canvas</a>
            </li>
            <li class="nav-box">
                <a class="nav-item" href="/docs">API</a>
            </li>
            <li class="nav-box">
                <a class="nav-item" href="https://github.com/MatrixCodeDE/pixelframe/blob/main/GUIDE.md">Guide</a>
            </li>
            <li class="nav-box nav-last">
                <a class="nav-item" href="https://github.com/MatrixCodeDE/pixelframe">GitHub</a>
            </li>
        </ul>
    </div>
    <div class="spacer"></div>

</body>
</html>